name: Docker CI + Deploy

on:
  push:
    branches: [ "main" ]
    tags:
      - "v*.*.*"

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set image tag
        run: |
          if [[ "${GITHUB_REF}" == refs/tags/* ]]; then
            echo "TAG=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV
          else
            echo "TAG=latest" >> $GITHUB_ENV
          fi

      - name: Docker login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Image
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: |
            coderdelta/cholochitro:${{ env.TAG }}
            coderdelta/cholochitro:latest


  deploy:
    needs: docker
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to server via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: ${{ secrets.SERVER_PORT }}
          script: |
            docker pull coderdelta/cholochitro:${{ env.TAG }}
            docker stop cholochitro_frontend || true
            docker rm cholochitro_frontend || true
            docker run -d \
              --name cholochitro_frontend \
              -p 80:80 \
              --restart unless-stopped \
              coderdelta/cholochitro:${{ env.TAG }}
